<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <div class="card">
            <div class="card-body shadow">
                <h4 class="text-muted"><ng-content></ng-content></h4>
                <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" formControlName="email">
                    </div>
                    <div class="mb-3" *ngIf="showPassInput">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" formControlName="password">
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">
                        Submit
                    </button>

                    <div class="row mt-4" *ngIf="showPassInput">
                        <div class="col-6">
                            <ng-content select="[signup-login]"></ng-content>
                        </div>
                        <div class="col-6">
                            <a routerLink="/authentication/reset">Forgot password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>