<nav class="navbar bg-dark navbar-dark navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Event Planner</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" *ngIf="!currentUser else elseBlock">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/authentication/signup">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/authentication/login">Login</a>
          </li>
        </ul>
        <ng-template #elseBlock>
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/party">{{ currentUser }}</a>
            </li>
            <li class="nav-link fw-bolder fs-5"><div class="vr text-info"></div></li>
            <li class="nav-item">
              <!-- <a class="nav-link" routerLink="/authentication/login">Logout</a> -->
              <button class="nav-link bg-transparent btn-outline-light border-0" (click)="logout()">Logout</button>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
<div class="container mt">
  <router-outlet></router-outlet>
</div>